Luego de crear todos los datasets con la información más importante, crearemos uno que junte toda la información en un mismo lugar.

In [1]:
import pandas as pd
import json

%load_ext autoreload
%autoreload 2

import utils

import warnings
warnings.filterwarnings("ignore")

Vamos a cargar todos los archivos primero.

In [2]:
# Lista con las rutas de los archivos
file_paths = [
    '../Datasets_limpios/siniestros2018.csv',
    '../Datasets_limpios/siniestros2019.csv',
    '../Datasets_limpios/siniestros2020.csv',
    '../Datasets_limpios/siniestros2021.csv',
    '../Datasets_limpios/siniestros2022.csv',
    '../Datasets_limpios/siniestros2023.csv',
    '../Datasets_limpios/siniestros2024.csv',    
]

# Leer todos los archivos CSV y almacenarlos en una lista de dataframes
dataframes = [pd.read_csv(file_path) for file_path in file_paths]

# Concatenar todos los dataframes en uno solo
combined_df = pd.concat(dataframes, ignore_index=True)

# Mostrar las primeras filas del dataset combinado
combined_df.head()

,Unnamed: 0,id_feu,siniestro_fecha,siniestro_hora,zona_ocurrencia,via_publica,nombre_via,entre_calle_1,latitud,longitud,...,estado_de_la_calzada,estado_fisico_ambiental,luminosidad,luz_artificial,estado_ambiental,visibilidad,semaforo,tipo_colision,cono_de_vision,barreras_de_seguridad
0,0,49056,2018-10-29,20:10:00,Urbana,Avenida,AV INDEPENDENCIA,LAS PIEDRAS,-2.748.105,-5.880.054,...,Apto,Seca,Atardecer,NaN,Despejado,Buena,Funciona,NaN,NaN,NaN
1,1,49059,2018-10-31,19:30:00,Urbana,Calle,BELASCOAIN,VIUDES,-2.748.406,-5.877.596,...,NaN,"Despejada, Seca",Noche,NO,Nublado,Buena,Sin Semáforo,NaN,NaN,NaN
2,2,48998,2018-10-08,13:10:00,Urbana,Calle,BELGRANO,SAN JUAN,-2.747.203,-5.883.722,...,Apto,Seca,Día,NO,Despejado,Buena,Sin Semáforo,NaN,NaN,NaN
3,3,49069,2018-11-05,07:15:00,Urbana,Avenida,AVENIDA FERRE,ESPAÑA,-2.747.631,-5.883.009,...,Apto,Seca,Día,NO,Despejado,Buena,Funciona,NaN,NaN,NaN
4,4,48869,2018-08-25,10:30:00,Urbana,Calle,MENDOZA,25 DE mayo,-2.746.437,-5.883.526,...,Apto,Seca,Día,NO,Despejado,Buena,Sin Semáforo,NaN,NaN,NaN

Verificamos los datos una vez más

In [3]:
utils.verificar_tipo_datos(combined_df)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,Unnamed: 0,[<class 'int'>],100.00,0.00,0
1,id_feu,[<class 'int'>],100.00,0.00,0
2,siniestro_fecha,[<class 'str'>],100.00,0.00,0
3,siniestro_hora,[<class 'str'>],100.00,0.00,0
4,zona_ocurrencia,"[<class 'str'>, <class 'float'>]",99.16,0.84,30
5,via_publica,"[<class 'str'>, <class 'float'>]",97.67,2.33,83
6,nombre_via,"[<class 'str'>, <class 'float'>]",99.55,0.45,16
7,entre_calle_1,"[<class 'str'>, <class 'float'>]",78.61,21.39,762
8,latitud,"[<class 'str'>, <class 'float'>]",63.51,36.49,1300
9,longitud,"[<class 'str'>, <class 'float'>]",63.51,36.49,1300
10,ilesos,[<class 'float'>],99.89,0.11,4
11,heridos,[<class 'float'>],99.94,0.06,2
12,fallecidos,[<class 'float'>],99.83,0.17,6
13,vehiculos,[<class 'float'>],99.97,0.03,1
14,peatones,[<class 'float'>],99.78,0.22,8
15,tipo_siniestro_unico,"[<class 'str'>, <class 'float'>]",68.59,31.41,1119
16,cantidad_de_involucrados,[<class 'int'>],100.00,0.00,0
17,material_de_la_calzada,"[<class 'str'>, <class 'float'>]",97.47,2.53,90
18,estado_de_la_calzada,"[<class 'str'>, <class 'float'>]",97.31,2.69,96
19,estado_fisico_ambiental,"[<class 'str'>, <class 'float'>]",93.80,6.20,221
20,luminosidad,"[<class 'str'>, <class 'float'>]",97.19,2.81,100
21,luz_artificial,"[<class 'float'>, <class 'str'>]",83.67,16.33,582
22,estado_ambiental,"[<class 'str'>, <class 'float'>]",96.72,3.28,117
23,visibilidad,"[<class 'str'>, <class 'float'>]",78.42,21.58,769
24,semaforo,"[<class 'str'>, <class 'float'>]",89.53,10.47,373
25,tipo_colision,"[<class 'float'>, <class 'str'>]",16.64,83.36,2970
26,cono_de_vision,"[<class 'float'>, <class 'str'>]",9.74,90.26,3216
27,barreras_de_seguridad,"[<class 'float'>, <class 'str'>]",13.70,86.30,3075

Eliminamos lo más nulo

In [7]:
# Eliminar columnas con más del 80% de valores nulos
umbral = 0.8  # Umbral del 80%
combined_df = combined_df.dropna(thresh=len(combined_df) * (1 - umbral), axis=1)

# Mostrar las columnas que se mantuvieron
combined_df.columns

Index(['Unnamed: 0', 'id_feu', 'siniestro_fecha', 'siniestro_hora',
       'zona_ocurrencia', 'via_publica', 'nombre_via', 'entre_calle_1',
       'latitud', 'longitud', 'ilesos', 'heridos', 'fallecidos', 'vehiculos',
       'peatones', 'tipo_siniestro_unico', 'cantidad_de_involucrados',
       'material_de_la_calzada', 'estado_de_la_calzada',
       'estado_fisico_ambiental', 'luminosidad', 'luz_artificial',
       'estado_ambiental', 'visibilidad', 'semaforo'],
      dtype='object')

In [8]:
# Guardar el dataset combinado en un nuevo archivo CSV
combined_df.to_csv('../Datasets_limpios/siniestrostotales.csv', index=False)